html, body {
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}







/* Landing Page */

.intro {
    height: 100%;
    width: 100%;
    padding-top: 55px;
    background: rgb(224, 50, 50);
}

.intro p {
    color: #fff;
}

/* navbar styling */
.bg-light {
    background: rgb(141, 32, 32)!important;
}

/* Change bootstrap brand color */

.navbar-dark .navbar-brand {
    color: #fff;
}

/* Change navbar item color */

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}















/* Mid section */
.how {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.how p {
    color: rgb(141, 32, 32);


}
/* Card Styling*/

.card {
    border: 1px solid rgb(141, 32, 32);
    text-align: center;
    cursor: pointer;
}
.card-img-top {
    height: 15vw;
    width: 100%;
    object-fit: cover;
}
.card:hover {
    box-shadow: 0 0 20px rgb(141, 32, 32);
    -webkit-box-shadow: 0 0 20px rgb(141, 32, 32);
    
}
h5 {
    color: rgb(141, 32, 32);
    font-size: 1.25rem;
    font-weight: 700;
}




/* pop up div */
.infoDiv {
    color: white;
    background-color: rgb(224, 50, 50);
    height: 95%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    
}
.divTitle{
    background-color: #fff;
    border: 1rem solid rgb(224, 50, 50);
}
.infoDiv h3{
    text-decoration: underline;
}

.fadeIn {
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: .95;}
}














/* Footer Section */

.get-started {
    background: rgb(141, 32, 32);
    height: 230px;
    color: #fff;
}

.btn-outline-secondary {
    color: white;
    border-color: white;
}

#myBtn {
    background-color: rgb(231, 31, 31);
    border-color: rgb(231, 31, 31);
}

#myBtn:hover {
    box-shadow: 0 0 10px #fff;
    ;
    -webkit-box-shadow: 0 0 10px #fff;
}

















/* Responsiveness styling */

@media screen and (max-width: 1199px) {
    .display-2 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .display-2 {
        font-size: 4rem;
    }
    .display-4 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 575px) {
    .card-img-top {
        height: 50vh;
        width: 100%;
        object-fit: cover;
        object-position: 0%;
    }
    #marioImg {
        object-position: 0%;
    }
}

@media screen and (max-width: 450px) {
    .display-2 {
        font-size: 3rem;
    }
    .display-4 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 350px) {
    body {
        width: 350px;
    }
}