html, body {
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

/* Change bootstrap navbar color */
.bg-light {
    background: rgb(141, 32, 32)!important;
}

/* Change bootstrap brand color */
.navbar-dark .navbar-brand {
    color: #fff;
}

/* Change navbar item color */
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/* Landing Page CSS */
.intro {
    height: 100%;
    width: 100%;
    padding-top: 55px;
    background: rgb(224, 50, 50);
}


.intro p {
    color: #fff;
}

/* Second page text color */
.how p{
    color: rgb(141, 32, 32);
}

/* Card image responsiveness styling */
.card-img-top {
    height: 15vw;
    width: 100%;
    object-fit: cover;
}

/* Bottom Sign up portion styling */
.get-started {
    background: rgb(141, 32, 32);
    height: 230px;
    color: #fff;
}

.btn-outline-secondary {
    color: white;
    border-color: white;
}

#myBtn {
    background-color: rgb(231, 31, 31);
    border-color: rgb(231, 31, 31);
}

#myBtn:hover {
    box-shadow: 0 0 10px #fff;
    ;
    -webkit-box-shadow: 0 0 10px #fff;
}

/* Responsiveness styling */
@media screen and (max-width: 1199px) {
    .display-2 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .display-2 {
        font-size: 4rem;
    }
    .display-4 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 575px) {
    .card-img-top {
        height: 50vh;
        width: 100%;
        object-fit: cover;
        object-position: 0%;
    }
    #marioImg{
        object-position: 0%;
    }
}

@media screen and (max-width: 450px) {
    .display-2 {
        font-size: 3rem;
    }
    .display-4 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 350px) {
    body {
        width: 350px;
    }
}