html, body{
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.navbar{
    background: rgb(141, 32, 32);
}
.navbar-brand, .nav-item a{
    color: #fff;
}

.intro{
    height: 100%;
    width: 100%;
    padding-top: 55px;
    background: rgb(224, 50, 50);
}
.intro p{
    color: #fff;
}
.how{
    color:  rgb(141, 32, 32);
}
.card-img-top{
    height: 15vw;
    width: 100%;
    object-fit: cover;
}
.get-started{
    background:  rgb(141, 32, 32);
    height: 230px;
    color: #fff;
}

.btn-outline-secondary{
    color: white;
    border-color: white;
}
#myBtn{
    background-color: rgb(231, 31, 31);
    border-color: rgb(231, 31, 31);
  }
  #myBtn:hover{
      box-shadow: 0 0 10px #fff;;
    -webkit-box-shadow: 0 0 10px #fff;
  }
  a:active,
  a:focus { 
      outline-style: none; 
  }
  

