html, body{
    
    background-image: url(https://i.imgur.com/vdjlzoY.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
  
}

/* Set to 100% to let the content be centered with bootstrap */
#myContainer{
  min-height: 100%;
}

/* Background tint */
#bgDiv{
  background-color: rgba(0, 0, 0, 0.548);
  text-align: center;
}

/* Navbar text color */
.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}

/* typography for the form */
form label{
  color: #fffffffb;
  font-size: 2rem;
  text-shadow: 10px 10px 15px rgb(0, 0, 0);
}


/* Styles for the button */
#myBtn{
  color: white;
  border-color: white;
  background-color: rgb(231, 31, 31);
  border-color: rgb(231, 31, 31);
}

/* Highlight button on hover */
#myBtn:hover{
  box-shadow: 0 0 10px #fff;;
  -webkit-box-shadow: 0 0 10px #fff;
}

/* Responsiveness */
@media screen and (max-height: 480px){
  body{
    height: 480px;
  }
  .navbar{
    background: rgb(141, 32, 32);
  }

  
}
@media screen and (max-width: 300px){
  body{
    max-width: 300px;
  }
}