html, body{
    
    background-image: url(https://i.imgur.com/vdjlzoY.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
  
}

#myContainer{
  min-height: 100%;
}

#bgDiv{
  background-color: rgba(0, 0, 0, 0.548);
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}

form label{
  color: #fffffffb;
  font-size: 2rem;
  text-shadow: 10px 10px 15px rgb(0, 0, 0);
}
.btn-outline-secondary{
  color: white;
  border-color: white;
}
/* .btn-outline-secondary:hover{
  background-color: rgb(231, 31, 31);
  border-color: rgb(231, 31, 31);
}
.btn .btn-outline-secondary:active{
  background-color: rgb(231, 31, 31);
  border-color: rgb(231, 31, 31);
} */
#myBtn{
  background-color: rgb(231, 31, 31);
  border-color: rgb(231, 31, 31);
}
#myBtn:hover{
  -webkit-box-shadow: 0 0 10px #fff;
}

@media screen and (max-height: 480px){
  body{
    height: 480px;
  }
  .navbar{
    background: rgb(141, 32, 32);
  }

  
}
@media screen and (max-width: 300px){
  body{
    max-width: 300px;
  }
}